<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G00438827</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <label>Entry Country</label>
  <input
    [(ngModel)]="countryName"
    placeholder="Country name"
    (keyup.enter)="search()"
  />
  <br />
  <ion-button expand="full" (click)="search()">SEARCH</ion-button>
</ion-content>
